.common_layout {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background: white;
}

.attach_top {
  margin-top: 0;
}

.container_layout {
  margin: 20px;
  border: 1px solid #ddd;
  background: white;
}

.inside_layout {
  margin-left: 20px;
  margin-right: 20px;
}

.line_titles {
  label {
    margin-right: 15px;
  }
}

.horizontal_align {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  display: flex;
}

.space5 {
    margin-left: 5px;
    margin-right: 5px;
}
