.common_header {

   margin: 20px; 
   margin-bottom: 0;

    header {
       flex-grow: 1; 
       overflow: hidden;
       position: relative;
       display: flex;
       background: #2E2E2E;
    }

    a {
        margin-right: 15px;
        color: white;
    }

    .expand {
        flex-grow: 1;
    }
}