.navlink {
    display: inline-block;


    align-items: center;
    background-color: #D3D3D3;
    min-width: 100px;

    label {
        color: black;
    }

    label:hover {
       background-color: #008080; 
       color: white
    }


}